<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
		<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="properties">
				<props>
					<prop key="jdbc.driverClassName">com.mysql.jdbc.Driver</prop>
					<prop key="jdbc.url">jdbc:mysql://localhost/test_beans_scope?characterEncoding=UTF-8&amp;useUnicode=true</prop>
					<prop key="jdbc.username">root</prop>
					<prop key="jdbc.password"></prop>
					<prop key="jdbc.validationQuery">SELECT 1;</prop>
				</props>
			</property>
		</bean>
</beans>