<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">
		
	<context:annotation-config/>
	
	<bean class="org.springframework.security.crypto.password.StandardPasswordEncoder" id="passwordEncoder"></bean>
	
	<context:component-scan base-package="com.lantushenko.experimental.stub.repositories" />
	<context:component-scan base-package="com.lantushenko.experimental.stub.services" />
	
	<bean class="java.net.URI" id="dbUrl">
        <constructor-arg value="#{systemEnvironment['DATABASE_URL']}"/>
    </bean>
    
	<bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource">
		<property name="url" value="#{ 'jdbc:mysql://' + @dbUrl.getHost() + ':' + @dbUrl.getPort() + @dbUrl.getPath() }"/>
		<!-- <property name="username" value="root"/>
        <property name="password" value=""/>-->
        <property name="username" value="#{ @dbUrl.getUserInfo().split(':')[0] }"/>
        <property name="password" value="#{  @dbUrl.getUserInfo().split(':').length > 1 ? @dbUrl.getUserInfo().split(':')[1]:'' }"/>
        
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		
		
		<property name="testWhileIdle" value="true"/>
		<property name="validationQuery" value="select 1"/>
		
		<property name="logAbandoned" value="true"/>
		<property name="removeAbandoned" value="true"/>
		<property name="removeAbandonedTimeout" value="3600"/>
		
		<property name="maxWait" value="20"/>
		<property name="maxIdle" value="10"/>
		<property name="maxActive" value="-1"/>
	</bean>	
	
	<bean class="com.lantushenko.experimental.stub.starter.DbStarterImpl">
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage" value="com.lantushenko.experimental.stub.dao.impl" />
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
    
   	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.lantushenko.experimental.stub.repositories" />
    </bean>
</beans>
